/*******************************************************************************************/
/*  작 성 자 : 바이크뱅크(주)
/*  작 성 일 : 2022.
/*  수 정 일 : 2022.
/*  버     전 : 0.0.1
/*  설     명 : 시승예약내역
/*  위     치 : /css/contents/reserv/history/layout.css
/*******************************************************************************************/

/*******************************************************************************************/
/* 공용 컨텐츠 설정 시작
/*******************************************************************************************/

@media  (min-width:1194px) {
.tablet {display:none !important;}
.mobile {display:none !important;}
}
@media (max-width:1193px) and (min-width:768px)  {
.pc {display:none !important;}
.mobile {display:none !important;}
}
@media (max-width:767px) and (min-width:320px) {
.pc {display:none !important;}
.tablet {display:none !important;}
}

@media  (min-width:768px) {
html {height:100%;}
body {height: 100%; background-color:#ccc; background-image: url(/images/contents/back_pattern.png);}
#ContentsWrapper .gogoro_logo {width:165px; height:74px; margin:0 auto; background-image: url(/images/contents/logo.png); background-repeat: no-repeat; padding-top:148px; background-size: 100% auto; font-size:0px; background-position: 50% 100% ;}
#ContentsWrapper h2 {text-align: center; padding:34px 0 61px 0; font-size:25px; font-weight: bold; color:#0f0f0f;}

.reserv-wrap .list {padding:19px 0; }
.reserv-wrap .list #penalty {width:100%; font-size:18px; border-top:1px solid #ccc; border-bottom:1px solid #ccc; }
.reserv-wrap .list #penalty tr:nth-child(1) td + th {padding-top:10px; }
.reserv-wrap .list #penalty .subject {font-weight:500; color:#1f1f1f;}
.reserv-wrap .list #penalty .content {color:#666;}
.reserv-wrap .list #penalty .reserv_qr_code .content {padding:20px 0; }
.reserv-wrap .list #penalty .reserv_date .content {color:blue;}
#reserv_notify {color:#767676;}
.command #btn_cancel .subject {background-color: #767676; line-height: 26px;}
.command #btn_main_back .subject {line-height: 26px;}

.header-split .notice {color:red; padding-top:10px;}
#btn_refresh {position: absolute;top: -45px;right: 50%;margin-right:-190px;height: 20px;display: inline-block;line-height: 20px;color: #888;}
#btn_refresh img {width:26px; height:auto;}
#btn_refresh #refresh_date {display:none;}
.qr_code img {width:50%; height: auto;}

.qr_complete {position: relative;}
.qr_complete img {opacity:0.2;}
.qr_complete .qr_state {position:absolute; top:74px; left:50%; margin-left:-53px; font-size:30px; color:#000;font-weight:bold;  } 
.reserv-wrapper .subject {position:relative; }
}
@media (max-width:767px) and (min-width:320px) {
html {height:100%;}
body {height: 100%;}
#ContentsWrapper .gogoro_logo {width:165px; height:74px; margin:0 auto; background-image: url(/images/contents/logo.png); background-repeat: no-repeat; padding-top:80px; background-size: 100% auto; font-size:0px; background-position: 50% 100% ;}
#ContentsWrapper h2 {text-align: center; padding:34px 0 61px 0; font-size:25px; font-weight: bold; color:#0f0f0f;}
.reserv-wrap .list {padding:19px 0; }
.reserv-wrap .list #penalty {width:100%; font-size:18px; border-top:1px solid #ccc; border-bottom:1px solid #ccc; }
.reserv-wrap .list #penalty tr:nth-child(1) td {padding-top:10px; }
.reserv-wrap .list #penalty .subject {font-weight:500; color:#1f1f1f;}
.reserv-wrap .list #penalty .content {color:#888;}
.reserv-wrap .list #penalty .reserv_qr_code .content {padding:20px 0; }
.reserv-wrap .list #penalty .reserv_date .content {color:blue;}
#reserv_notify {color:#767676;}
.command #btn_cancel .subject {background-color: #767676; line-height: 26px;}
.command #btn_main_back .subject {line-height: 26px;}

.header-split .notice {color:red; padding-top:10px;}
#btn_refresh {position: absolute;top: -39px;right:0px;height: 20px;display: inline-block;line-height: 20px;color: #888;}
#btn_refresh img {width:26px; height:auto;}
#btn_refresh #refresh_date {display:none;}
.qr_code img {width:50%; height: auto;}

.qr_complete {position: relative;}
.qr_complete img {opacity:0.2;}
.qr_complete .qr_state {position:absolute; top:64px; left:50%; margin-left:-53px; font-size:30px; color:#000;font-weight:bold;  } 
.reserv-wrapper .subject {position:relative; }
}

/*******************************************************************************************/
/* 공용 컨텐츠 설정 좋료
/*******************************************************************************************/


/* 컨텐츠 영역 */
#ContentsWrapper .articles .reserv-wrapper
{
    padding: 9.6px 20px;
}

#ContentsWrapper .articles .reserv-wrapper .btn_note
{
    height: 25.6px;
}

#ContentsWrapper .articles .reserv-wrapper .btn_note > img
{
    height: 100%;
}

#ContentsWrapper .articles .reserv-wrapper .header-split
{
    margin: 12px 0 0 0;

    font-size: 14px;
    font-weight: normal;
    text-align: left;
    color: #767676;
    font-family: 'Noto Sans KR', sans-serif;
}

#ContentsWrapper .articles .reserv-wrapper .header-split > p
{
    margin: 0 0 0 0;
}

/* 오류 메시지(박스형) */
#ContentsWrapper .articles .reserv-wrapper #expire_message
{
    background: #fff;
    /*height: 50px;*/
    /*line-height: 50px;*/
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #e72905;
    border-top: 5px solid #e72905;
    margin: 20px 0 0 0;
    padding: 10px 0;
    border-radius: 10px;
}

#ContentsWrapper .articles .reserv-wrapper #expire_message > p
{
    margin: 5px 0;
}

#ContentsWrapper .articles .reserv-wrapper #expire_message > p > strong
{
    color: #000;
}

/* 오류메세지 */
div.articles div.error
{
    font-size: 12px;
    margin: 0 0 0 0;
    padding: 2px 0 0 8px;
    background: url(/images/board/icon_note.gif) 0 6px no-repeat;
}

div.articles div.error strong
{
    color: #E72905;
}




div.contents div.qr_code { margin: 10px 0 10px 0; padding: 0 0 0 0; }
div.contents div.qr_code img { width: 80%; max-width: 400px; }


.command span
{
    display: inline-block;
     width: 100%; 
    height: 45px;
    line-height: 45px;
    margin: 10px auto 0 auto;
    padding: 0 0 0 0;
    text-align: center;
    vertical-align: middle;
    background-color: #00B6E6;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    /* width: 264px; */
    height: 44px;
    /* margin: 22px 63px 0 9.7px; */
    padding: 7px 0;
    border-radius: 5px;
    box-shadow: 0 7px 10px 0 rgb(0 0 0 / 9%);
    background-color: #4a2f8d;
    /* width: 104px; */
    height: 26px;
    font-family: NotoSansCJKKR;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

/* 새로고침 버튼 */



#btn_refresh > img
{
    margin: 2px;
}