/*******************************************************************************************/
/*  작 성 자 : 바이크뱅크(주)
/*  작 성 일 : 2022
/*  수 정 일 : 2022
/*  버     전 : 0.0.1
/*  설     명 : 전체 사이트 기본 스타일 설정
/*  위     치 : /css/basic.css
/*******************************************************************************************/

/* 나눔고딕 웹폰트 설정 */
/*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/

/* NotoSansKR 로컬폰트 설정 */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format("opentype");
}

/* 기초설정 */
* {
  -ms-overflow-style: none;
}

html {
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

body {
  color: #000;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: "Noto Sans KR", "Tahoma", "돋움", "굴림";
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  /*     background: #f1f1f1; */
}

img {
  margin: 0;
  padding: 0;
  border: none;
  vertical-align: top;
}

/* 링크설정 */
a {
  outline: none;
}
a:link {
  /*color: #565656;*/
  text-decoration: none;
}

a:hover {
  /*color: #000000;*/
  text-decoration: none;
}

a:visited {
  /*color: #006699;*/
  text-decoration: none;
}
:link:focus,
:visited:focus {
  -moz-outline: none;
}

a img {
  border: none;
}

/* 목록설정 */
ul {
  font-size: 1em;
  text-align: justify;
}

ol {
  font-size: 1em;
  text-align: justify;
}

/* 표양식 설정 */
table {
  font-size: 1em;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border-collapse: collapse;
}

table caption {
  text-align: right;
}

table tr th,
table tr td {
  margin: 0 0 0 0;
  padding: 3px 3px 3px 3px;
}

table tr th.left,
table tr td.left {
  text-align: left;
}

table tr th.center,
table tr td.center {
  text-align: center;
}

table tr th.right,
table tr td.right {
  text-align: right;
}

::-moz-selection {
  background: #333;
  color: #fff;
}
::selection {
  background: #333;
  color: #fff;
}

@media (min-width: 1194px) {
  .tablet {
    display: none !important;
  }
  .mobile {
    display: none !important;
  }
}
@media (max-width: 1193px) and (min-width: 768px) {
  .pc {
    display: none !important;
  }
  .mobile {
    display: none !important;
  }
}
@media (max-width: 767px) and (min-width: 320px) {
  .pc {
    display: none !important;
  }
  .tablet {
    display: none !important;
  }
}
#__next {
  height: 100%;
  background-color: #333;
}
